# node dependencies
node_modules

# next.js
.next
.swc
out
next-env.d.ts

# serwist
public/*.js

# PostgreSQL Volume
postgres

# local env files
.env*.local

# misc
.DS_Store
*.pem

# Playwright Tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Typescript
*.tsbuildinfo
