.vscode

# dependencies
node_modules

# Build files
dist
.next
out_functions
out_publish
out

# Non-Production Images
public/images

# testing
coverage

# next.js
.next

# misc
.DS_Store
.env*
*.env
*.log
