// .drawer {
//   display: block;
//   position: fixed;
//   right: 0;
//   width: 15em;



//   height: 92.5%;
//   background-color: pink;

//   .tabContainer {
//     background-color: lightblue;
//     position: relative;
//     width: 15rem;
//     overflow: visible;
//     height: 100%;
//     padding-top: 1.5rem;

//     &.open {

//     }

//     .tab {
//       overflow: visible;
//       position: relative;
//       left: -2.5rem;
//       background-color: pink;

//       padding: 0.5rem;
//       padding-left: 1rem;

//       border-style: solid;
//       border-width: thin;
//       border-color: lightblue;

//       &:hover {
//         left: -12.5rem;
//       }

//       &.active {
//         border-color: blue;
//       }
      

//       .tabIcon {
//         padding-right: 1.5rem;
//       }
//     }
//   }

//   .contentContainer {
//     // display: none;
//     padding: 0.75rem;
//     background-color: #EEE;
  
//     border-style: solid;
//     border-width: thin;
    
//     min-width: 15rem;
//     max-width: 20rem;
//     width: 20rem;
//     height: 92.5vh;
  
//     &.open {
//       display: block;
//     }
//   }  
// }

$drawer-width: 15em;

.drawer {
  position: absolute;
  right: -1 * $drawer-width;

  height: 100%; 
  width: $drawer-width; // TODO - media query & variable for the width

  background-color: pink;

  transition: right 0.5s;

  &.open {
    right: 0;

    transition: right 0.5s;
  }

  .tabContainer {
    position: relative;
    top: 1em;

    z-index: 0;

    .tab {
      position: relative;
      left: -2.5em;

      background-color: lightblue;

      transition: left 0.75s;

      &:hover {
        left: -10em;
        transition: left 0.25s;
      }

      .tabIcon {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;

        margin-right: 0.5em;

        text-align: center;
        line-height: 2.5em;
      }
    }
  }

  .contentContainer {
    position: absolute;

    height: 100%;
    width: 15em;

    background-color: lightgreen;

    z-index: 1;

    .content {
      padding: 0.75em;
    }
  }
}
