@import "./variables.scss";

// Core 
.#{$wrapper-class} .background {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

// Default styles
.#{$wrapper-class} .background {
  margin: 1px;
  background-color: lightgray;
}

.null-background {
  margin: 0;

  background-color: inherit;
}

.#{$wrapper-class} .background {
  // The styling for a background containing an image. The image is supplied by the user
  &.default-background-image {
    @extend .null-background;
    margin: 1px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.default-background-color {
    @extend .null-background;
    margin: 1px;
    background-color: lightgray;
  }
}