@import "./variables.scss";

// The wrapper for the whole contents of the actor sheet
.#{$wrapper-class} {
  min-height: 65em;
  width: 50em !important;
  overflow-x: auto;
  
  .background {
    margin: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: contain;
  }
  .border {
    margin-bottom: 0.5em;
    padding: 0.25em;

    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  .button {
    padding: 0.25em;
    height: auto;
  }
  // .column {
    
  // }

  .inline-wrapper {
    display: block;
  }

  .inline {
    display: flex;
  }

  .input {
    border-bottom: 1px solid black;

    &.number-input {
      width: 2em;
    }

    &:hover,&:active {
      outline: none;
    }
  }

  .row {
    display: flex;
    margin-bottom: 5px;
  }

  

  .page-inactive {
    display: none;
  }

  .page-active {
    display: block;
  }

  
}