.profileImageWrapper {
  position: relative;
  width: 200px;
  height: 200px;

  .profileHoverWrapper {
    position: absolute;
    right: 0;
    bottom: 0;

    background-color: #444;
    color: #EEE;
    font-weight: 700;
    padding: 3px;
    opacity: 85%;

    display: none;
  }
}

.profileImageWrapper:hover {
  .profileHoverWrapper {
    display: block;
  }
}