.campaignBox {
  min-height: 5em;
  height: auto;
  
  border-style: solid;
  border-width: 1px;
  border-color: gray;

  img {
    height: auto;
    width: 100%;
  }
}

.campaignBox:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  
}

.empty {
  border-style: dashed;
  border-width: 2px;

  text-align: center;
}